html,
body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: maroon;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

label.a {
    color: white;
}

a.a {
    color: white;
    font-weight: lighter;
}

small.a {
    font-weight: lighter;
    color: white;
}